{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}首页{% endblock %}
{% block nav_home_active %}active{% endblock %}
{#页面内容#}
{% block content %}
    <div class="container" style="margin-top:56px;">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading" style="font-size: 1.3em;text-align: center;background-color: #00CED1">
			《公告》
                </div>
                <div class="panel-body" style="font-size: 1.5em;background-color: #AFEEEE">
			<h1><center>博客网站停止更新，现用于python学习记录</center></h1>
			<h2><center>敬请期待</center></h2>
                </div>
        </div>
    </div>
    </div>
    </div>

{% endblock %}
